body{
	font-family: Arial, Helvetics, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 1.5px;
	background-color: #f4f4f4;
	font-family:Arial, Helvetica, sans-serif;
}

/*Global*/
.container{
	width: 80%;
	margin: auto;
	overflow: hiddden;
}

ul{
	margin:0;
	padding:0;
}

.button_1{
	height: 38px;
	background: #e8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}

.button_2{
	height: 25px;
	background: #fa8072;
	border: 3px;
	padding-left: 20px;
	padding-right: 20px;
	color: #4B0082;
}

/*header*/
header{
	background: #788889;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #ffff00 3px solid; 
}


header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 16px;
}


header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #name{
	float: left;
}

header #name h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}


/*colouring Jai*/
header .highlight {
	color: #e8491d;
	font-weight: bold;
}

header .highlight:hover{
	color: #00ff00;
	font-weight: bold;
}


/*colouring Provision*/
header .highligt {
	color: #00ff00;
	font-weight: bold;
}

header .highligt:hover{
	color: #e8491d;
	font-weight: bold;
}


/*colouring and hovering Navigation keys*/
header .current a{
	color: #00ffff;
	font-weight: bold;
}

header a:hover{
	color: #dda0dd;
	font-weight: bold;
}

header .button_2:hover{
	color: #E0FFFF;
	font-weight: bold;
}


/*Showcase*/
#showcase{
	height: 250px;
	width: 100%;
	padding: 30px;
	margin-bottom: 40px;
	background: url('showcase.jpeg');
	background-color: #cccccc; 
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: right;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
}

#showcase h1{
	margin-top: 10px;
	font-size: 20px;
	margin-bottom: 20px;
	color: #ffff00;
	display: block;
	font-weight: bold;
	background-color: #EE82EE;
	background-size: 30px;
}

#showcase p{
	position: relative;
	margin-top: 100px;
	color: #ffffff;
	font-size: 15px;
	background-color: #000000;
	display: inline-block;
}

/* Family */
#family{
	padding: 22px;
	margin-top: 40px;
	color: #ffffff;
	background:#5f9ea0;
	font-family:Arial, Helvetica, sans-serif;
}

#family h1{
	float: left;
}

#family input[type="text"]{
	padding: 4px;
	height: 25px;
	width: 200px;
}

#family input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 200px;
}

#family input[type="tel"]{
	padding: 4px;
	height: 25px;
	width: 200px;
}

#family input[type="Address"]{
	padding: 4px;
	height: 25px;
	width: 200px;
}

/*sidebr*/
aside#sidebar{
	margin-top: 20px;
	float: right;
	width: 50%;
	margin-top: 10px;
}

/*social media*/
article#socialmedia{
	float: left;
	width: 50%
}
footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #e8491d;
	text-align: center;
}

#connect img{
	width: 120px;
	font-family:Arial, Helvetica, sans-serif;
}

/* 
#last{
	margin-top: 20px;
}

#last .l{
	float: ;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#last .l img{
	width: 90px;
}
*/
